* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.hero {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    display: flex;
    align-items: center;
}
.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 80px;
}
.social-links {
    margin-top: 25px;
}
.social-links a {
    color: #4CAF50;
    text-decoration: none;
    margin-right: 25px;
}
.social-links a:hover {
    color: #06b;
}
.social-links a i{
    scale: 1.4;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
}

.section {
    padding: 50px 0;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

#about p {
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin: auto;
}

.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    border: 2px solid #333;
    margin-bottom: 20px;
    transition: transform 0.4s;
}
.project:hover{
    transform: scale(1.05);
} 
.project h3 {
    margin-bottom: 10px;
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

.project-link:hover {
    background-color: #333;
    color: #fff;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.skills-list li {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
}


#form {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 520px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
    .cut {
      background-color: #15172b;
      border-radius: 10px;
      height: 20px;
      left: 20px;
      position: absolute;
      top: -20px;
      transform: translateY(0);
      transition: transform 200ms;
      width: 52px;
    }
  #long {
    width: 70px;
  }
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #4CAF50;
  }
  
  .submit {
    background-color: #4CAF50;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  #message {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

@media screen and (max-width: 950px) {
    .hero-content {
        display: block;
    }
    .project {
        width: 100%;
    }
}